
header {text-align: center;}

nav {
	float: left;
	width: 100px;
	border: 3px solid blue;
	padding: 3px;
}

main {	
	margin-left: 120px;
	border: 3px solid blue;
}

a {
	display: block;
}

.clearfix {
    overflow: auto;
}

article {
	border: 1px solid;
}

footer {
	margin-top: 40px;
	text-align: right;
}